<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Postgres" connectionString="Host=127.0.0.1;Port=5432;Database=bdcontrol;Uid=postgres;Pwd=BMT_8998;" />
  </connectionStrings>
  <appSettings>
    <add key="ServerIP" value ="192.168.1.7"/>
    <add key="InitialLenght" value ="8"/>
    <add key="FinalLenght" value ="24"/>
    <add key="DirLog" value ="C:\\LOG\"/>
    <add key="ArcExt" value =".SICONA"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>